{% extends "base.html" %}

{% block title %}Flex Fit | {{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        {% endif %}
    </div>

    <div class="col-md-6">
        <h1>{{ product.name }}</h1>
        <p class="text-muted">{{ product.category }}</p>
        <p>{{ product.description }}</p>

        <h4>£{{ product.price }}</h4>

        <a href="{% url 'cart:add_to_cart' product.id %}" class="btn btn-primary mt-3">
        Add to Cart
        </a>

        <p>
            <strong>Size:</strong> {{ product.size }}<br>
            <strong>Gender:</strong> {{ product.get_gender_display }}
        </p>
    </div>
</div>
{% endblock %}
