{% extends "base.html" %}

{% block title %}Flex Fit | {{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        {% endif %}
    </div>

    <div class="col-md-6">
        <h1>{{ product.name }}</h1>
        <p class="text-muted">{{ product.category }}</p>
        <p>{{ product.description }}</p>

        <h4>£{{ product.price }}</h4>

        <form method="post" action="{% url 'cart:add_to_cart' product.id %}">
            {% csrf_token %}

        <label for="size" class="form-label mt-3">Size</label>
        <select name="size" id="size" class="form-select" required>
            <option value="">Choose a size</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
        </select>

        <button type="submit" class="btn btn-primary mt-3">
            Add to Cart
        </button>

        </form>

        <p>
            <strong>Gender:</strong> {{ product.get_gender_display }}
        </p>
    </div>
</div>
{% endblock %}
