{% extends "base.html" %}

{% block title %}Flex Fit | Shop{% endblock %}

{% block content %}
<h1 class="mb-4">Flex Fit Products</h1>

{% if products %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">

                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            £{{ product.price }}<br>
                            {{ product.category }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No products available.</p>
{% endif %}
{% endblock %}
