<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLEX FIT | PRODUCTS</title>
</head>
<body>
    <h1>Flex Fit Products</h1>

    {% if products %}
        <ul>
            {% for product in products %}
                <li>
                    <strong>{{ product.name }}</strong><br>
                    £{{ product.price }}<br>
                    {{ product.category }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No products available.</p>
    {% endif %}
    
</body>
</html>